<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <div class="column">
        <h3>Books</h3>
        <a href="/upload_book/">Add</a>
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Author ID</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.description }}</td>
                <td>{{ book.author_id }}</td>
                <td><a href="/update_book_form/{{ book.id }}">Update</a></td>
                <td><a href="/delete_book/{{ book.id }}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="column">
        <h3>Users</h3>
        <a href="/upload_user">Add</a>
        <table>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td><a href="/update_user_form/{{ user.id }}">Update</a></td>
                <td><a href="/delete_user/{{ user.id }}">Delete</a></td>
            </tr>
            {% endfor %}
            {% for query in query1 %}
            {{ query.username }}
            {% endfor %}
        </table>
    </div>
    <div class="column">
        <h3>Authors</h3>
        <a href="/upload_author">Add</a>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>City</th>
                <th>Description</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>{{ author.city }}</td>
                <td>{{ author.description }}</td>
                <td><a href="/update_author_form/{{ author.id }}">Update</a></td>
                <td><a href="/delete_author/{{ author.id }}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="column">
        <h3>Chapters</h3>
        <a href="/upload_chapter">Add</a>
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Context</th>
                <th>Book ID</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for chapter in chapters %}
            <tr>
                <td>{{ chapter.id }}</td>
                <td>{{ chapter.title }}</td>
                <td>{{ chapter.context }}</td>
                <td>{{ chapter.book_id }}</td>
                <td><a href="/update_chapter_form/{{ chapter.id }}">Update</a></td>
                <td><a href="/delete_chapter/{{ chapter.id }}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="column">
        <h3>Comments</h3>
        <a href="/upload_comment">Add</a>
        <table>
            <tr>
                <th>ID</th>
                <th>Text</th>
                <th>User ID</th>
                <th>Book ID</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.text }}</td>
                <td>{{ comment.user_id }}</td>
                <td>{{ comment.book_id }}</td>
                <td><a href="/update_comment_form/{{ comment.id }}">Update</a></td>
                <td><a href="/delete_comment/{{ comment.id }}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="column">
        <h1>Queries</h1>
        <form method="POST" enctype="multipart/form-data" action="/exec_query1/">
            <label for="query1">Знайти користувачів, які написали коментар до книги, у якої автор:</label>
            <input type="text" name="query1" required>
    
            <input type="submit" value="Update">
        </form>
        <br><br>
        <form method="POST" enctype="multipart/form-data" action="/exec_query2/">
            <label for="query2">Знайти розділ книги, яку написав автор:</label>
            <input type="text" name="query2" required>

            <input type="submit" value="Update">
        </form>
        <br><br>
        <form method="POST" enctype="multipart/form-data" action="/exec_query3/">
            <label for="query3">Знайти назви книжок, які коментував:</label>
            <input type="text" name="query3" required>

            <input type="submit" value="Update">
        </form>
        <br><br>
        <form method="POST" enctype="multipart/form-data" action="/exec_query4/">
            <label for="query4">Знайти місто проживання автора книги, до якої написали коментар з назвою:</label>
            <input type="text" name="query4" required>

            <input type="submit" value="Update">
        </form>
        <br><br>
        <form method="POST" enctype="multipart/form-data" action="/exec_query5/">
            <label for="query5">Знайти назву книжки, до якої написав коментар:</label>
            <input type="text" name="query5" required><br><br>
            <label for="query51">та має автора:</label>
            <input type="text" name="query51" required>


            <input type="submit" value="Update">
        </form>
        <br><br>
        <form method="POST" enctype="multipart/form-data" action="/exec_query6/">
            <label for="query6"><b>Знайти імена користувачів, які коментують ту книгу, що й:</b></label>
            <input type="text" name="query6" required>

            <input type="submit" value="Update">
        </form>
        <br><br>
        <form method="POST" enctype="multipart/form-data" action="/exec_query7/">
            <label for="query7"><b>Знайти користувачів, які залишили коментарі до всіх книг, написаних автором з міста:</b></label>
            <input type="text" name="query7" required>

            <input type="submit" value="Update">
        </form>
        <br><br>
        <form method="POST" enctype="multipart/form-data" action="/exec_query8/">
            <label for="query8"><b>Список всіх користувачів, якщо всі користувачі закоментили книгу з номером:</b></label>
            <input type="text" name="query8" required>

            <input type="submit" value="Update">
        </form>
    </div>
</body>
</html>