<!DOCTYPE html>
<html>
<head>
    <title>Update Author</title>
</head>
<body>
    <h1>Update Author</h1>
    <a href="/show_all">Return to home</a>
    <form action="/authors/{{ author.id }}" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ author.name }}"><br><br>

        <label for="city">City:</label>
        <input id="city" name="city" value="{{ author.city }}"><br><br>

        <label for="description">Description:</label>
        <input id="description" name="description" value="{{ author.description }}"><br><br>

        <input type="submit" value="Update">
    </form>
</body>
</html>
