<html>
    <head>
        <title>User Info Form</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Publishing house Info Form</h1>
        <form method="POST" enctype="multipart/form-data" action="/add_chapter/">
            <label for="books">Select a book:</label>
            <select id="books" name="books">
            {% for book in books %}
                <option value="{{ book.id }}">{{ book.title }}</option>
            {% endfor %}
            </select><br><br>

            <label for="title">Title:</label>
            <input type="text" name="title" required><br><br>

            <label for="context">Context:</label>
            <input type="text" name="context" required><br><br>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>